##################################
# NODE / JAVASCRIPT
##################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

##################################
# ENVIRONMENT FILES
##################################
.env

##################################
# VS CODE / EDITORS
##################################
.vscode/
.vs/
.idea/

##################################
# OS FILES
##################################
.DS_Store
Thumbs.db

##################################
# BUILD / DIST (future use)
##################################
dist/
build/

##################################
# CACHE / TEMP
##################################
.cache/
.tmp/
temp/
